footer
	padding-bottom: unit*5
	
.bottom
	background: #000
	padding: unit*3 0 unit*8
	text-align: center
	@media (min-width: 500px)
		padding: unit*5 unit*5 unit*10
	
.archive_zone
	line-height: 120%
	display: grid
	grid-gap: 3px
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr))
	justify-items: stretch
	@media (min-width: 800px)
		display: block
.archive-link
	text-align: center
	display: inline-block
	padding: unit*0.5 unit 
	color: #fff
	background: #000
	overflow: hidden
	&:hover 
		background: ac
		color: #fff
.archive-count
	color: #aaa
	&:before
		content: "  \00b7  "


.site_tags_zone
	font-weight: 700
	line-height: 1.2
	.tag-link
		display: inline-block
		margin-bottom: 3px
		color: #555
		text-transform: uppercase
		border: 1px solid #555
		padding: unit*0.3 unit*0.5
		&:hover
			color: #fff
			border: 1px solid #fff
		&:before
			content: "#"
	.tag-count
		color: #666
		&:before
			content: " \00b7  "
		