.grid
	display: grid
	grid-gap: unit
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
.card
	padding: unit
	background: #fff
	transition: all .3s ease
	&:hover
		box-shadow: 0 unit*0.5 unit #aaa
	p, ul
		font-size: unit*0.9
		line-height: 120%
	li
		padding: unit*0.3 0

/* preview image in style.styl */
.card_header
	a
		position: relative
		overflow: hidden
		font-weight: 700
		display: block
		border-bottom: unit solid #000
		&:hover
			color: #666
	.card_date
		position: absolute
		top: 0
		left: 0
		font-size: unit*0.8
		color: #fff
		padding: unit
	.card_title
		overflow: hidden
		background: alpha(#000,0.5)
		position: absolute
		bottom: 0
		left: 0
		right: 0
	h2
		display: inline-block
		font-family: fh
		font-size: unit*2.2
		color: #fff
		line-height: 1.3
		padding-right: unit
		@media (min-width: 740px)
			padding-right: unit*5
		span
			box-decoration-break: clone
			-webkit-box-decoration-break: clone
			-ms-box-decoration-break: clone
			-o-box-decoration-break: clone
			background: #000
			box-shadow: unit 0 0 #000, -(unit) 0 0 #000
			margin-left: unit
			
.card_highlight
	margin: unit*1.5 0 unit*0.5
	padding-bottom: unit*0.5
	font-size: unit*1.1
	border-bottom: 3px solid #000
.card_tag-link
	display: inline-block
	font-size: unit*0.8
	font-weight: 700
	padding: unit*0.8 unit unit*0.6
	margin-bottom: unit*0.3
	background: #000
	color: #eee
	text-transform: uppercase
	&:hover
		background: #eee
		color: #000
.card_brief
	padding-top: unit
.card_ref-link
	font-weight: 700
	color: ac
	&:hover
		color: tomato
	&:before
		content: "\2605  "
.card_ref-link:first-of-type
	&:before
		content: " "
	
