header
	padding-top: unit*2
nav
	font-family: fh
	color: ac
	ul li
		display: inline-block
		font-size: unit*1.8
		@media (min-width: 740px)
			font-size: unit*2.4
	ul li a
		color: #000
		font-size: unit*3
		&:hover
			color: ac
		@media (min-width: 740px)
			font-size: unit*3.5
