.page-nav
	.space
		margin-right: unit*0.3
		
.page-number, .extend
	font-weight: 700
	display: inline-block
	padding: unit*0.8 unit unit*0.6
	margin-right: unit*0.3
	background: #ccc
	color: #666
	&:hover
		background: ac
		color: #fff
	&.current
		background: ac
		color: #fff
.extend
	background: #000