.post_grid
	display: grid
	grid-gap: unit
	grid-template-columns: 1fr
	@media (min-width: 800px)
		grid-template-columns: 2fr 1fr

.post_grid_item
	overflow: hidden
	
.panel_left
	background: #fff
	padding: unit
	@media (min-width: 740px)
		padding: unit*3
.panel_right
	background: #000
	padding-bottom: unit*2
	/* sidebar */

.post_title
	margin: unit*2 0 unit*5
	font-family: fh
	@media (min-width: 600px)
		font-size: unit*3
		
.post_slug
	color: #aaa
	
.post_time
	color: #ccc

	
.post_content
	p
		padding: unit*0.5 0
		line-height: 1.5
		@media (min-width: 740px)
			padding: unit 0
	img
		max-width: 100%
	h1,h2,h3,h4
		padding: unit*1.5 0 unit*0.5
	hr
		display: block
		height: 1px
		border: none
		border-top: 1px solid #aaa;
		margin: unit*2 0
	ul, ol
		list-style-position: outside
		list-style-type: square
		padding: 0 0 0 unit
		li
			padding: unit*0.5 0
	a
		color: ac
		font-weight: bold
		&:hover
			color: tomato
	code
		font-family: mono
		font-size: unit*1.1
		color: tomato




.list_title
	text-transform: uppercase
	font-size: unit
	color: #fff
		
.pre
	width: 100%
	white-space: pre-wrap
	white-space: -moz-pre-wrap
	white-space: -pre-wrap
	white-space: -o-pre-wrap
	word-wrap: break-word


