.sidebar
	background: #000
.sidebar_title
	padding-bottom: unit*0.5
	padding-left: unit
	color: #555
	margin-bottom: unit

.recent
	margin-bottom: unit*2
	display: grid
	grid-gap: unit
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
	
.recent_item
	background: #000
	border-bottom: 3px solid #fff
	position: relative
	a
		display: block
		padding: unit
	.preview_img
		height: 200px
		overflow: hidden
	.preview_inner
		width: 100%
		height:100%
		transition: all 0.5s ease;
		&:hover
			transform: scale(1.2);
		img
			width:100%
			height: 100%
			object-fit: cover
	.sidebar_posttitle
		position: absolute
		left: 0
		bottom: unit*0.3
		h2
			font-family: fh
			line-height: 1.3
			color: #fff
			padding: 0 unit 0 0
			font-size: unit*1.5
			@media (min-width: 740px)
				font-size: unit*1.8
		span
			box-decoration-break: clone
			-webkit-box-decoration-break: clone
			-ms-box-decoration-break: clone
			-o-box-decoration-break: clone
			background: #000
			box-shadow: unit 0 0 #000, -(unit) 0 0 #000
			margin-left: unit


.post_tags-link
	display: inline-block
	padding: unit*0.8 unit unit*0.6
	color: #fff
	background: #000
	text-transform: uppercase
	&:before
		content: "#"
	&:hover
		background: ac