.sidebar
	background: #000
	padding: unit
.sidebar_title
	padding-bottom: unit*0.5
	padding-left: unit
	color: #555
	margin-bottom: unit

.sidebargrid
	margin-bottom: unit*2
	display: grid
	grid-gap: unit
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
	
/* preview image in style.styl */
.sidebargrid_item
	background: #000
	a
		display: block
		position: relative
	.sidebar_posttitle
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: 1
		padding: 0 0 unit unit
		background: alpha(#000,0.5)
		span
			color: ac
		h2
			font-family: fh
			line-height: 1.3
			color: #fff
			padding: unit unit 0 0
			font-size: unit*1.5
			@media (min-width: 740px)
				font-size: unit*1.8

.post_tags-link
	display: inline-block
	padding: unit*0.8 unit unit*0.6
	color: #fff
	background: #000
	text-transform: uppercase
	&:before
		content: "#"
	&:hover
		background: ac