.sidebar_title
	padding-bottom: unit*0.5
	border-bottom: 3px solid #000
	margin-bottom: unit

.recent
	margin-bottom: 2rem
	display: grid
	grid-gap: unit
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
	
.recent_item
	position: relative
	padding: unit
	background: #000
	transition: all .3s ease
	&:hover
		background: ac
	a
		display: block
		min-height: 100px
		&:hover
			background: ac
	h2
		position: absolute
		left: 0
		bottom: unit
		font-family: fh
		line-height: 1.3
		overflow: hidden
		color: #fff
		padding: 0 unit 0 0
		@media (min-width: 740px)
			font-size: unit*1.8
		span
			box-decoration-break: clone
			-webkit-box-decoration-break: clone
			-ms-box-decoration-break: clone
			-o-box-decoration-break: clone
			background: #000
			box-shadow: unit*0.5 0 0 #000, -(unit) 0 0 #000
			margin-left: unit	


.post_tags-link
	display: inline-block
	padding: 0.8rem unit 0.6rem
	color: #fff
	background: #000
	text-transform: uppercase
	&:before
		content: "#"
	&:hover
		background: ac