@import "_prt/reset"

rm = 1rem
ff = 'IBM Plex Serif', serif  
fh = 'IBM Plex Sans', sans-serif
fm = 'Share Tech Mono', monospace
xanh = #00ced1 //darkturquoise
nhat = #f5f5f5 //whitesmoke

html
	font-size: 16px
	line-height 1.5
	font-family: ff
body
	color: #333
	background: #eee
a
	text-decoration: none
	transition: all 0.3s ease

hr.section_div
	border: 0
	border-top: 3px solid #000
	display: block
	height: 3px
	margin: rm 0
#buonban
	margin: 0 auto
	width: 95%
	@media (min-width: 740px)
		width: 85%
		max-width: 1280px
.grid
	display: grid
	grid-gap: rm
	
@import "_prt/header"
@import "_prt/contentcard"
@import "_prt/sellingcard"

/* card preview image, apply on homepage and sidebar */

.preview_img
	height: 250px
	overflow: hidden
.preview_inner
	width: 100%
	height:100%
	transition: all 0.5s ease;
	&:hover
		transform: scale(1.2);
	img
		width:100%
		height: 100%
		object-fit: cover
		
@import "_prt/post_default"
@import "_prt/post_collection"
@import "_prt/post_selling"
@import "_prt/post_selling_sidebar"
@import "_prt/pagenavi"


@import "_prt/page"
@import "_prt/footer"