@import "_partial/reset"
linear_gradient(origin, colors...)
	fallback = colors[1][0]
	colors = join(', ', colors)
	colors = unquote(colors)
	background-color: fallback
	background-image: -webkit-linear-gradient(origin, colors) // Chrome, Safari
	background-image:    -moz-linear-gradient(origin, colors) // Firefox (3.6 - 15)
	background-image:     -ms-linear-gradient(origin, colors) // IE 10
	background-image:      -o-linear-gradient(origin, colors) // Opera (11.1 - 12.0) 
	background-image:         linear-gradient(origin, colors) // W3C

unit = 1rem
ff = 'Montserrat', sans-serif
fh = 'Baloo', cursive
mono = 'Share Tech Mono', monospace
ac = #00CED1

html
	font-size: 16px

body
	font-family: ff
	color: #333
	background: #eee
a
	text-decoration: none
	transition: all .3s ease
			
.section_divide
	margin: unit*2 0
	border: none
	border-bottom: 3px solid #000
	height: 3px

#site_wrap
	width: 95%
	max-width: 1280px
	margin: 0 auto
	@media (min-width: 600px)
		width: 90%
			
@import "_partial/header"
@import "_partial/gridcard"
@import "_partial/pagenav"

@import "_partial/post"
@import "_partial/sidebar"

@import "_partial/footer"

.page_archive_title, .page_tag_title
	font-family: fh
	font-size: unit*5
	color: #aaa
	margin-bottom: unit
	
/* card preview image, apply on homepage and sidebar */

.preview_img
	height: 250px
	overflow: hidden
.preview_inner
	width: 100%
	height:100%
	transition: all 0.5s ease;
	&:hover
		transform: scale(1.2);
	img
		width:100%
		height: 100%
		object-fit: cover





		