<h1 class="page_archive_title">
	<span class="archive_year"><%= page.year %></span> /
	<span class="archive_month"><%= page.month %></span>
</h1>

<% page.posts.each(function(post){ %>
  <h2 class="list_title">
  	<span>
  		<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD') %></time>
  	</span>
    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
  </h2>
<% }) %>

<% if (page.total > 1){ %>
	<hr class="section_divide">
	<nav id="page-nav">
		<% var prev_text = "&laquo; ";var next_text = " &raquo;"%>
		<%- paginator({
		prev_text: prev_text,
		next_text: next_text
		}) %>
	</nav>
<% } %>