<% page.posts.each(function(post){ %>
  <h2 class="list_title">
    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    <span>
		<% if (post.tags && post.tags.length){ %>
		  <%- list_tags(post.tags, {
		    show_count: false,
		    class: 'post_tags',
		    style: 'none',
		    separator: ' '
		  }) %>
		<% } %>
    </span>
  </h2>
<% }) %>

<% if (page.total > 1){ %>
	<hr class="section_divide">
	<nav id="page-nav">
		<% var prev_text = "&laquo; ";var next_text = " &raquo;"%>
		<%- paginator({
		prev_text: prev_text,
		next_text: next_text
		}) %>
	</nav>
<% } %>