<%- partial('_partial/head') %>
<body>
	<div id="site_wrap">


		<header>
			<h1 id="site_header">
				<a href="<%- url_for() %>"><%= config.title %></a>
			</h1>
			<% if (site.posts.length){ %>
			  <div class="archive_zone">
			    <%- list_archives({
			    	show_count: true, 
			    	type: 'monthly',
			    	style: 'none',
			    	format: 'YYYY.MM',
			    	separator: ' '
			    }) %>
			  </div>
			<% } %>
		</header>

		<hr class="section_divide" />

		<div id="main">
			<%- body %>
		</div>

		<hr class="section_divide" />

		<footer>
			&copy;BIDONG.2017
		</footer>

	</div>
	<div class="site_tags_zone">
		<%- list_tags({
			style: 'none',
			separator: ' '
		}) %>
	</div>


<!-- threejs.org canvas lines example -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>

<script>
  var mouseX = 0,
      mouseY = 0,
      windowHalfX = window.innerWidth / 2,
      windowHalfY = window.innerHeight / 2,
      SEPARATION = 200,
      AMOUNTX = 10,
      AMOUNTY = 10,
      camera,
      scene,
      renderer;
  
  init();
  animate();

	function init() {

  	var container,
        separation = 100,
        amountX = 50,
        amountY = 50,
        particle;
    
    container = document.createElement( 'div' );
    document.body.appendChild( container );

    scene = new THREE.Scene();

    renderer = new THREE.CanvasRenderer({ alpha: true }); // gradient; this can be swapped for WebGLRenderer
    renderer.setSize( window.innerWidth, window.innerHeight );
    container.appendChild( renderer.domElement );
    
    camera = new THREE.PerspectiveCamera(
    	75,
      window.innerWidth / window.innerHeight,
      1,
      10000
    );
    camera.position.z = 100;

		// particles
    var PI2 = Math.PI * 2;
    var material = new THREE.SpriteCanvasMaterial({
    	color: 0xeeeeee, opacity: 0.5,
    	program: function ( context ) {
				context.beginPath();
        context.arc( 0, 0, 0.5, 0, PI2, true );
        context.fill();
      }
    });
    
    var geometry = new THREE.Geometry();

    for ( var i = 0; i < 120; i ++ ) {
      particle = new THREE.Sprite( material );
      particle.position.x = Math.random() * 2 - 1;
      particle.position.y = Math.random() * 2 - 1;
      particle.position.z = Math.random() * 2 - 1;
      particle.position.normalize();
      particle.position.multiplyScalar( Math.random() * 10 + 350 );
      particle.scale.x = particle.scale.y = 10;
      scene.add( particle );
      geometry.vertices.push( particle.position );
    }

    // lines
    var line = new THREE.Line( geometry, new THREE.LineBasicMaterial( { color: 0xeeeeee, opacity: 0.3 } ) );
    scene.add( line );

    // mousey
    document.addEventListener( 'mousemove', onDocumentMouseMove, false );
		document.addEventListener( 'touchstart', onDocumentTouchStart, false );
    document.addEventListener( 'touchmove', onDocumentTouchMove, false );
		
 		window.addEventListener( 'resize', onWindowResize, false );

	} // end init();

	function onWindowResize() {

  	windowHalfX = window.innerWidth / 2;
    windowHalfY = window.innerHeight / 2;

    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();

    renderer.setSize( window.innerWidth, window.innerHeight );

	}

	function onDocumentMouseMove(event) {

  	mouseX = event.clientX - windowHalfX;
    mouseY = event.clientY - windowHalfY;

  }

  function onDocumentTouchStart( event ) {

		if ( event.touches.length > 1 ) {

    	event.preventDefault();

      mouseX = event.touches[ 0 ].pageX - windowHalfX;
      mouseY = event.touches[ 0 ].pageY - windowHalfY;

    }
	}

  function onDocumentTouchMove( event ) {

  	if ( event.touches.length == 1 ) {

    	event.preventDefault();

      mouseX = event.touches[ 0 ].pageX - windowHalfX;
      mouseY = event.touches[ 0 ].pageY - windowHalfY;

		}
	}

	function animate() {
    
		requestAnimationFrame( animate );
    render();
    
	}

	function render() {
		
    camera.position.x += ( mouseX - camera.position.x ) * .05;
    camera.position.y += ( - mouseY + 200 - camera.position.y ) * .05;
    camera.lookAt( scene.position );

    renderer.render( scene, camera );
  
  }
</script>



</body>
</html>