<h2 class="post_title"><%- page.slug %><span><time class="post_time" datetime="<%= date_xml(page.date) %>" > @<%= date(page.date) %></time></span></h2>
<hr class="section_divide" />
<div class="post_content"><%- page.content %></div>

<hr class="section_divide" />

<div class="post_tags_zone">
<h2>tags for this post</h2>
<%- list_tags(page.tags, {
    show_count: false,
    class: 'post_tags',
    style: 'none',
    separator: ' '
}) %>
</div>