.contentgrid
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	margin 0 -0.5rem
//.contentgrid_item
.card
	width 100%
	margin 0.5rem
	flex 1 1 auto
	display: flex
	flex-flow: column
	font-size: rm*0.9
	@media (min-width: 650px)
		width: 30%
	@media (min-width: 900px)
		width: 25%
		&:first-of-type
			width: 40%
		&:nth-of-type(2)
			width: 40%
	@media (min-width: 1200px)
		width: 20%
		&:first-of-type
			width: 28%
		&:nth-of-type(2)
			width: 28%
		&:nth-of-type(3)
			width: 28%
	img
		max-width: 100%
.card_summary, .card_refs
	margin-top auto
.card_layout
	padding: rm
	transition: all 0.3s ease
	line-height: 1.25
	&:hover
		box-shadow: 0 5px rm #aaa
		background: #fff

		
.card_layout_post
	// style for normal blog post
	@extend .card_layout
	background: #fff
	.card_date
		position: absolute
		top: 0
		left: 0
		font-size: rm*0.8
		font-weight: 700
		color: #fff
		padding: rm

.card_layout_selling
	// style for card selling
	@extend .card_layout
	background: ivory
	.price_group
		margin-top: rm
		display: flex
		justify-content: space-between
		align-items: flex-end
	.card_old_price
		color: #aaa
	.price_number
		font-family: fh
		font-size: rm*2
	.card_price_right
		padding-bottom: rm*0.5
		a
			color: xanh
			&:hover
				color: salmon

.card_layout_collection
	// style for card collection
	@extend .card_layout
	background: #fff


/* preview image style defined in style.styl */
.card_header
	padding-bottom: rm*0.3
	a
		position relative
		overflow hidden
		display block
	.card_icon
		position: absolute
		top: 0
		left: 0
		color: #fff
		padding: rm*0.5

.card_title
	font 700 1rem fh
	padding 1rem 0


.card_highlight
	margin: rm*1.5 0 rm*0.5
.card_tag-link
	display: inline-block
	font 0.7rem fh
	font-weight: 500
	padding: 0.5rem 0.6rem 0.4rem
	margin-bottom: 0.2rem
	background black 
	color white
	text-transform: uppercase
	&:hover
		background: xanh
		color: #fff

.card_ref-link
	font-weight: 700
	color: xanh
	&:hover
		color: salmon
	&:before
		content: "\2605  "
.card_ref-link:first-of-type
	&:before
		content: " "