footer
	padding-bottom: rm*5
.linhtinh
	background: #000
	padding: rm*3 0 rm*5
	@media (min-width: 740px)
		padding: rm*5 0 rm*15
.bottom
	@extend #buonban
	font 0.8rem fh
	text-align: center
	a
		color: #777
		display: block
		padding 1rem
		border: 1px solid #555
		margin: 2px
		&:hover
			color: #fff
			border-color: #fff
		
.site_tags_zone, .archive_zone
	text-transform: uppercase
	display: flex
	flex-flow: row wrap
	a
		flex-grow: 1
		&:before
			content: "#"
.tag-count, .archive-count
	&:before
		content: " \00b7  "