.pagination
	.space
		margin-right: rm*0.3
		
.page-number, .extend
	display: inline-block
	padding: rm*0.5 rm rm*0.4
	margin-right: rm*0.3
	font-size: rm*1.5
	&:hover
		background: xanh
		color: #fff
.current
	color: #fff
	background: xanh