.page_full
	background: #fff
	display: flex
	min-height: 650px
	a
		color: xanh
		&:hover
			color: tomato
.page_about_content
	padding: rm*3
	text-align: center
	font-size: rm*1.2
	line-height: 2
	width: 100%
	height: 100%
	margin: auto
	