.post_selling
	display: flex
	flex-flow: row wrap
	background: #fff
	padding: rm
	@media (min-width: 600px)
		padding: rm*3
	@media (min-width: 800px)
		padding: rm*5
	img
		max-width: 100%

.post_selling_header
	width: 100%
	@media (min-width: 650px)
		width: 40%
	@media (min-width: 1000px)
		width: 30%
		margin-right: rm*2

.post_selling_content
	width: 100%
	@media (min-width: 650px)
		width: 60%
	@media (min-width: 1000px)
		width: 65%

.post_selling_content
	& > p
		padding: rm 0
		line-height: 1.5
		@media (min-width: 740px)
			padding: rm*1.5 0
		&:first-of-type
			font-size: rm*1.3
			padding-top: 0
	img
		max-width: 100%
	h1,h2
		padding: rm 0 rm
	h2
		font-size: rm*1.5
		text-transform: uppercase
		line-height: 1.5
	h3
		font-size: rm*1.4
		padding: rm*0.5 0 rm*0.5
		line-height: 1.35
	h4
		font-size: rm*1.2
		padding: rm*0.5 0 0
		line-height: 1.3
	ul, ol
		list-style-position: outside
		list-style-type: square
		padding: rm*0.5 0 rm*0.5 rm
		li
			padding: rm*0.5 0
			line-height: 1.5
	a
		color: xanh
		font-weight: bold
		&:hover
			color: salmon
	hr
		@extend hr.section_div

	.selling_more_images
		padding-top: rm*2
		display: grid
		grid-gap: rm
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
		@media (min-width: 1100px)
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))

	