.post_post
	display: flex
	flex-flow: row wrap
	background: #fff
	padding: rm
	@media (min-width: 600px)
		padding: rm*3
	@media (min-width: 800px)
		padding: rm*5

.post_post_header
	width: 100%
	@media (min-width: 650px)
		width: 37%
		margin-right: rm
.post_post_header
	@media (min-width: 1000px)
		width: 33%
		margin-right: rm*2
.post_post_content
	width: 100%
	@media (min-width: 650px)
		width: 60%
		
.post_title
	margin: rm 0 rm*2
	font-family: fh
	font-size: rm*2.4
	@media (min-width: 600px) and (max-width: 800px)
		font-size: rm*1.8
		
.post_slug
	color: #aaa
	
.post_time
	color: #ccc

	
.post_post_content
	max-width: 640px
	p
		padding: rm*0.5 0
		line-height: 1.5
		@media (min-width: 740px)
			padding: rm 0
		&:first-of-type
			font-size: rm*1.2
			padding-top: 0
	img
		max-width: 100%
		border: 1px solid #eee;
	h1,h2
		padding: rm 0 rm
	h2
		font-size: rm*1.5
		text-transform: uppercase
		line-height: 1.5
	h3
		font-size: rm*1.4
		padding: rm*0.7 0 rm*0.5
		line-height: 1.35
	h4
		font-size: rm*1.2
		padding: rm*0.5 0 0
		line-height: 1.3
	ul, ol
		list-style-position: outside
		list-style-type: square
		padding-left: rm
		li
			padding: rm*0.5 0
			line-height: 1.5
	a
		color: xanh
		&:hover
			color: salmon
	hr
		@extend hr.section_div
	pre > code
		margin: rm 0 !important
		font-family: fm !important
	code
		font-family: fm
		font-size: rm
		color: salmon
