.post_collection
	@extend .grid
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
	background: #fff
	padding: rm
	@media (min-width: 600px)
		padding: rm*5
	img
		max-width: 100%
	p
		background: #fff
		&:first-of-type
			background: none
			padding-bottom: rm
	a
		color: xanh
		&:hover
			color: salmon
.post_collection_tags
	.post_tags-link
		display: inline-block
		font-size: rm*0.8
		font-weight: 700
		padding: rm*0.5 rm*0.6 rm*0.4
		margin-bottom: rm*0.3
		background: #000
		color: #eee
		text-transform: uppercase
		&:hover
			background: #eee
			color: #000
.post_collection_title
	margin: rm 0 rm*2
	font-family: fh
	font-size: rm*2.4
	@media (min-width: 600px)
		font-size: rm*3
		