aside > div
	padding: rm 0 0
	@media (min-width: 500px)
		padding: rm*3 0 0
	@media (min-width: 800px)
		padding: rm*5 0 0
	ul, ol
		list-style-position: outside
		list-style-type: square
		padding: rm*0.5 0 rm*0.5 rm
		li
			padding: rm*0.5 0
			line-height: 1.5
aside
	font-size rm*0.9
	h2
		padding-top: rm
		font-size: rm*1.3
		padding-right: rm
	
	h3
		padding-top: rm
		font-size: rm*1.5
		color: xanh
	h4
		font-size: rm*1.2
		padding-bottom: rm*0.5
		
	.howto
		padding: rm*2 0
		a
			display: inline-block
			padding: rm*0.5
			font-size: rm*0.8
			text-transform: uppercase
			background: xanh
			color: #fff
			&:hover
				background: #000
				
	.post_tags-link
		display: inline-block
		font-size: rm*0.8
		font-weight: 700
		padding: rm*0.5 rm*0.6 rm*0.4
		margin-bottom: rm*0.3
		background: #000
		color: #eee
		text-transform: uppercase
		&:hover
			background: #eee
			color: #000