.sellgrid
	display: flex
	flex-flow: row wrap
	justify-content: space-between
//.contentgrid_item
.sellgrid_item
	width: 100%
	margin: rm*0.5
	flex-grow: 1
	display: flex
	flex-flow: row wrap
	padding: rm
	transition: all 0.3s ease
	line-height: 1.25
	background: xanh
	&:hover
		box-shadow: 0 5px rm #aaa
		background: #fff
		.price_number
			color: xanh
	@media (min-width: 650px)
		width: 30%
	@media (min-width: 900px)
		width: 25%
		&:first-of-type
			width: 40%
		&:nth-of-type(2)
			width: 40%

	img
		max-width: 100%
	.sellgrid_item_price_group
		margin-top: rm
		display: flex
		justify-content: space-between
		align-items: flex-end
	.price_number
		font-family: fh
		font-size: rm*2.2
		color: #fff
	.sellgrid_item_price_right
		padding-bottom: rm*0.5
		a
			color: xanh
			&:hover
				color: salmon
	.sellgrid_item_header
		padding-bottom: rm*0.3
		a
			position: relative
			overflow: hidden
			display: block
			&:hover
				color: #666
		.sellgrid_item_icon
			position: absolute
			top: 0
			left: 0
			color: #fff
			padding: rm*0.5
		
	.sellgrid_item_highlight
		margin: rm*1.5 0 rm*0.5
		font-size: rm*1.1
	.sellgrid_item_tags_group
		color #fff
	.sellgrid_item_tag-link
		display: inline-block
		font-size: rm*0.8
		font-weight: 700
		margin: rm 0
		color: #eee
		text-transform: uppercase
		&:hover
			color: xanh
	.sellgrid_item_brief
		padding-top: rm
	.sellgrid_item_ref-link
		font-weight: 700
		color: xanh
		&:hover
			color: salmon
		&:before
			content: "\2605  "
	.sellgrid_item_ref-link:first-of-type
		&:before
			content: " "

			
.sellgrid_item > div
	width: 100%
	align-self: flex-start
.sellgrid_item > div:last-of-type
	align-self: flex-end