<div class="contentgrid">
	
	<% page.posts.each(function(post){ %>

		<div class="contentgrid_item card card_layout_<% if (post.type) { %><%= post.type %><% } else { %>post<% } %>">

			<% if (post.type === "selling") { %>
				<%- partial('_partial/card/selling', {post: post, index: true}) %>
				
			<% } else if (post.type === "collection") { %>
				<%- partial('_partial/card/collection', {post: post, index: true}) %>
			<% } else { %>

				<%- partial('_partial/card/default', {post: post, index: true}) %>
			<% } %>

		</div>
	<% }) %>

</div>

<%- partial('_partial/nav_pagination') %>