<%- partial('_partial/head') %>
<body>

<div id="buonban">

	<header>
		<%- partial('_partial/nav_site') %>
	</header>

	<hr class="section_div">

    <section class="main_content"><%- body %></section>

    <hr class="section_div">

    <footer><i class="fas fa-copyright"></i> <%= config.title %> 2018</footer>
</div>
<section class="linhtinh">
<div class="bottom">

	<% if (site.posts.length){ %>
	  <div class="archive_zone">
	    <%- list_archives({
	    	show_count: true, 
	    	type: 'monthly',
	    	style: 'none',
	    	format: 'YYYY.MM',
	    	separator: ' '
	    }) %>
	  </div>
	<% } %>

	<div class="site_tags_zone">
		<%- list_tags({
			style: 'none',
			separator: ' '
		}) %>
	</div>

</div>
</section>

<%- js('js/medium-zoom.min') %>
<script>mediumZoom(".post_full img");</script>
</body>
</html>