<!-- layout for selling post -->
<% if (page.type === "selling") { %>

<%- partial('_partial/post/selling') %>


<% } else if (page.type === "collection") { %>

<%- partial('_partial/post/collection') %>

<% } else { %>


<!-- every other post template, with sidebar??? -->

<%- partial('_partial/post/default') %>

<% } %>