linear_gradient(origin, colors...)
	fallback = colors[1][0]
	colors = join(', ', colors)
	colors = unquote(colors)
	background-color: fallback
	background-image: -webkit-linear-gradient(origin, colors) // Chrome, Safari
	background-image:    -moz-linear-gradient(origin, colors) // Firefox (3.6 - 15)
	background-image:     -ms-linear-gradient(origin, colors) // IE 10
	background-image:      -o-linear-gradient(origin, colors) // Opera (11.1 - 12.0) 
	background-image:         linear-gradient(origin, colors) // W3C

unit = 1em
ff = 'Roboto Mono', monospace
ac = #2f77a6

body
	font-family: ff
	color: #333
	background: #eeeeee
a
	text-decoration: none
	font-weight: bold
	color: ac
	transition: all .3s ease
	border-bottom: 2px solid transparent
	&:hover
		color: black
		border-bottom: 2px solid ac
header
	h1
		text-transform: uppercase
		letter-spacing: 0.2em
		font-weight: normal
		font-size: unit*1.5
		margin-top: unit*2
	a
		border: none
		&:hover
			border: none

footer
	padding-bottom: unit*5

#site_wrap
	max-width: 600px
	margin: 0 auto
.archive_zone
	line-height: unit*1.5
	
.site_tags_zone
	border-top: 1px dashed ac
	text-align: center
	line-height: unit*1.5
	padding: unit*2

.list_title
	text-transform: uppercase
	font-size: unit
	color: #fff
.post_tags-link, .tag-link
	color: #fff
	text-transform: uppercase
	&:before
		content: "#"
.tag-count
	color: darken(#ccc,30%)
	&:before
		content: "\00b7"  

.post_title
	margin-top: unit*2
	text-transform: uppercase
.post_time
	color: #fff
	
.page-number
	padding: unit*0.1 unit*0.5
	margin-right: 5px
	border: 1px solid ac
	&.current
		background: ac
		color: #fff
.page_tag_title
	font-size: unit*3
	
.archive-link
	display: inline-block
	background: ac
	color: lightness(ac, 80%)
	padding: unit*0.1 0 unit*0.1 unit*0.5 
	border: 1px solid ac
	overflow: hidden
	&:hover 
		background: #000
		border: 1px solid ac
		color: #fff
.archive-count
	margin-left: unit*0.5
	background: lightness(ac, 50%)
	color: lightness(ac, 80%)
	padding: unit*0.5
	
.post_content
	p
		padding: unit*0.5 0
		line-height: 1.4
	img
		max-width: 100%
	h1,h2,h3,h4
		text-transform: uppercase
		font-size: unit
	hr
		display: block
		height: 1px
		border: none
		border-top: 1px solid #aaa;
		margin: unit*2 0
	ul, ol
		list-style-position: outside
		list-style-type: square
		padding: 0 0 0 unit
		li
			padding: unit*0.5 0
.section_divide
	margin: unit*2 0
	border: none
	border-bottom: 1px dashed ac
	height: 2px
		
.post_tags_zone
	h2
		font-size: unit*1.2
		text-transform: uppercase

@import "_partial/highlight"

canvas
	position: absolute
	left: 0
	top: 0
	z-index: -1
	linear_gradient(top, #85c1e9, #eee)