<nav>
	<ul>
		<li><i class="fas fa-home fa-fw"></i> <a href="<%- url_for() %>"><%= config.title %></a></li>
		<li><i class="fas fa-shopping-cart fa-fw"></i> <a href="<%- url_for('categories/selling') %>"> bán hàng chất nghệ</a></li>
		<li><i class="fas fa-user-secret fa-fw"></i> <a href="<%- url_for('about') %>">và chính hắn</a></li>
	</ul>
</nav>