<% if (page.prev || page.next) { %>

    <% if (page.prev) { %>

        <div class="sidebargrid_item">
            <a href="<%- url_for(page.prev.path) %>">

                <% if (page.prev.preview) { %>
                    <div class="preview_img">
                        <div class="preview_inner">
                            <img src="<%- page.prev.preview %>" alt="">
                        </div>
                    </div>
                <% } else { %>

                    <div class="preview_img"></div>

                <% } %>

                <div class="sidebar_posttitle"><h2 class="post_title"><span><i class="fas fa-chevron-circle-left"></i> prv. <br></span><%= page.prev.title %></h2></div>
            </a>
        </div>

    <% } %>

    <% if (page.next) { %>

        <div class="sidebargrid_item">
            <a href="<%- url_for(page.next.path) %>">

                <% if (page.next.preview) { %>
                    <div class="preview_img">
                        <div class="preview_inner">
                            <img src="<%- page.next.preview %>" alt="">
                        </div>
                    </div>
                <% } else { %>

                    <div class="preview_img"></div>

                <% } %>

                <div class="sidebar_posttitle"><h2 class="post_title"><span><i class="fas fa-chevron-circle-right"></i> nxt. <br></span><%= page.next.title %></h2></div>
            </a>
        </div>

    <% } %>

<% } %>