<% if (page.total > 1){ %>
	<hr class="section_div">
	<nav class="pagination">
		<% var prev_text = "&laquo; ";var next_text = " &raquo;"%>
		<%- paginator({
		prev_text: prev_text,
		next_text: next_text
		}) %>
	</nav>
<% } %>