<div class="sidebar">
	<!-- next and previous post -->
	<div class="npgroup">
		<div class="npprev">
			previous post
		</div>
		<div class="npnext">
			next post
		</div>
	</div>

	<!-- other group: tag, social share, related post -->

</div>