<% page.posts.each(function(post){ %>

	<div class="grid_item card">

		<div class="card_header">

			<% if (post.preview) { %>

				<a href="<%- url_for(post.path) %>">

					<div class="preview_img">
						<div class="preview_inner">
							<img src="<%- post.preview %>" alt="">
						</div>
					</div>

					<div class="card_date"><span><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></span></div>
					<div class="card_title"><h2><span><%= post.title %></span></h2></div>
				</a>
				
			<% } else { %>

				<a href="<%- url_for(post.path) %>" style="background: #000;">
					<div class="preview_img"></div>
					<div class="card_date"><span><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></span></div>
					<div class="card_title"><h2><span><%= post.title %></span></h2></div>
				</a>
			<% } %>
		</div>


		<% if (post.tags && post.tags.length){ %>
			<h4 class="card_highlight">this post tags:</h4>
			<%- list_tags(post.tags, {
				show_count: false,
				class: 'card_tag',
				style: 'none',
				separator: ' '
			}) %>
		<% } %>


		<% if (post.brief) { %>
			<p class="card_brief"><%= post.brief %></p>
		<% } %>


		<% if (post.ref) { %>
			<h4 class="card_highlight">references:</h4>
			<p>
				<% for (var item in post.ref) { %>
					<a class="card_ref-link" href="<%= post.ref[item].link %>" target="_blank"><%= post.ref[item].title %></a> (<%= post.ref[item].from %>)
				<% } %>
			</p>
		<% } %>

	</div>
<% }) %>