<% if (page.total > 1){ %>
	<hr class="section_divide">
	<nav class="page-nav">
		<% var prev_text = "&#9001; ";var next_text = " &#9002;"%>
		<%- paginator({
		prev_text: prev_text,
		next_text: next_text
		}) %>
	</nav>
<% } %>