<div class="sidebar">
<div class="recent">
<% site.posts.sort('date', -1).limit(4).each(function(post) { %>
	
	<div class="recent_item">

		<a href="<%- url_for(post.path) %>">
			<% if (post.preview) { %>
				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%- post.preview %>" alt="">
					</div>
				</div>
			<% } %>
			<div class="sidebar_posttitle"><h2><span><%= post.title %></span></h2></div>
		</a>
	</div>
<% })%>
</div>


<h2 class="sidebar_title">tags for this post</h2>
<%- list_tags(page.tags, {
    show_count: false,
    class: 'post_tags',
    style: 'none',
    separator: ' '
}) %>
</div>