<div class="sidebar">


<%- partial('_partial/sidebar_postnav') %>


<h2 class="sidebar_title">tags for this post</h2>
<%- list_tags(page.tags, {
    show_count: false,
    class: 'post_tags',
    style: 'none',
    separator: ' '
}) %>
</div>