<div class="sidebargrid">
<% site.posts.sort('date', -1).limit(4).each(function(post) { %>
	
	<div class="sidebargrid_item">

		<a href="<%- url_for(post.path) %>">
			<% if (post.preview) { %>
				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%- post.preview %>" alt="">
					</div>
				</div>
			<% } %>
			<div class="sidebar_posttitle"><h2><span><%= post.title %></span></h2></div>
		</a>
	</div>
<% })%>
</div>