<nav>
	<ul>
		<li><i class="fas fa-home fa-fw"></i> <a href="<%- url_for() %>"><%= config.title %></a></li>
		<li><i class="fas fa-shopping-cart fa-fw"></i> <a href="<%- url_for('sell') %>">is selling</a></li>
		<li><i class="fas fa-palette fa-fw"></i> <a href="<%- url_for('collection') %>">arts</a></li>
	</ul>
</nav>