<h1 class="page_archive_title">
	<span class="archive_year"><%= page.year %></span> /
	<span class="archive_month"><%= page.month %></span>
</h1>

<div class="grid">
	<%- partial('_partial/card_content') %>
</div>

<%- partial('_partial/pagenav') %>