<%- partial('_partial/head') %>
<body>

	<div id="site_wrap">

		<header><%- partial('_partial/site_nav') %></header>

		<hr class="section_divide" />

		<div class="main_content"><%- body %></div>

		<hr class="section_divide" />

		<footer><i class="fas fa-copyright"></i> BIDONG.2017</footer>
	</div>






	<div class="bottom">

		<% if (site.posts.length){ %>
		  <div class="archive_zone">
		    <%- list_archives({
		    	show_count: true, 
		    	type: 'monthly',
		    	style: 'none',
		    	format: 'YYYY.MM',
		    	separator: ' '
		    }) %>
		  </div>
		<% } %>

		<div class="site_tags_zone">
			<%- list_tags({
				style: 'none',
				separator: ' '
			}) %>
		</div>

	</div>
</body>
</html>