<div class="post_grid">
	<div class="post_grid_item panel_left">
		<div class="post_slug"><%- page.slug %><span><time class="post_time" datetime="<%= date_xml(page.date) %>" > @<%= date(page.date) %></time></span></div>
		<h2 class="post_title"><%- page.title %></h2>

		<hr class="section_divide" />
		<div class="post_content"><%- page.content %></div>
	</div>

	<div class="post_grid_item panel_right">
		<%- partial('_partial/sidebar') %>
	</div>


</div>