<div class="sellgrid">
<% for (var item in site.data.convertcsv) { %>
<div class="sellgrid_item">
<div>
	<div class="sellgrid_item_header">
			<a target="_blank" href="<%= site.data.convertcsv[item].prd_preview %>">

				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%= site.data.convertcsv[item].prd_preview %>" alt="">
					</div>
				</div>

				<div class="sellgrid_item_icon"><i class="fas fa-shopping-cart fa-2x"></i></div>
			</a>
			
	</div>

	<div class="sellgrid_item_tags_group">
		<a class="sellgrid_item_tag-link" href="#"><%= site.data.convertcsv[item].prd_category %></a> <i class="fas fa-angle-right"></i>
		<a class="sellgrid_item_tag-link" href="#"><%= site.data.convertcsv[item].prd_brand %></a>
	</div>

	<div class="sellgrid_item_title"><h4><span><%= site.data.convertcsv[item].prd_name %></span></h4></div>
</div>

<div>
	<div>
		
		<p class="sellgrid_item_brief"><%= site.data.convertcsv[item].prd_options %></p>
	</div>

	<div class="sellgrid_item_price_group">
		<div class="sellgrid_item_price_left">
			<span class="price_number"><%= site.data.convertcsv[item].prd_price %>.000</span>
		</div>

		<div class="sellgrid_item_price_right">
			<a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
		</div>
	</div>
</div>
</div>
	
<% } %>
</div>