<div>
	<div class="card_header">

		<% if (post.preview) { %>

			<a href="<%- url_for(post.path) %>">

				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%- post.preview %>" alt="">
					</div>
				</div>

				<div class="card_icon"><i class="fas fa-palette fa-2x"></i></div>
				<div class="card_title"><h2><span><%= post.artist %></span></h2></div>
			</a>
			
		<% } else { %>

			<a href="<%- url_for(post.path) %>" style="background: #000;">
				<div class="preview_img"></div>
				<div class="card_date"><span><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></span></div>
				<div class="card_title"><h2><span><%= post.code %></span></h2></div>
			</a>
		<% } %>
	</div>

	<% if (post.tags && post.tags.length){ %>
	<div class="card_tags_group">
		<%- list_tags(post.tags, {
			show_count: false,
			class: 'card_tag',
			style: 'none',
			separator: ' '
		}) %>
	</div>
	<% } %>
</div>
<div>
	<div class="summary">
		<% if (post.linkto) { %>
			<p class="card_brief"><a class="card_ref-link" href="<%= post.linkto %>" target="_blank"><%= post.artist %></a></p>
		<% } %>
	</div>

	<div class="card_summary">
		<% if (post.summary) { %>
			<p class="card_brief"><%= post.summary %></p>
		<% } %>
	</div>
</div>