<div>
	<div class="card_header">

		<% if (post.preview) { %>

			<a href="<%- url_for(post.path) %>">

				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%- post.preview %>" alt="">
					</div>
				</div>

				<div class="card_date"><span><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></span></div>
			</a>
			
		<% } else { %>

			<a href="<%- url_for(post.path) %>" style="background: #00ced1;">
				<div class="preview_img"></div>
				<div class="card_date"><span><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></span></div>
			</a>
		<% } %>
	</div>
	
	<% if (post.tags && post.tags.length){ %>
	<div class="card_tags_group">
		<%- list_tags(post.tags, {
			show_count: false,
			class: 'card_tag',
			style: 'none',
			separator: ' '
		}) %>
	</div>
	<% } %>
</div>



<div class="card_summary">
	<div class="card_title"><h2><span><%- post.title %></span></h2></div>
	<% if (post.summary) { %>
		<p class="card_brief"><%- post.summary %></p>
	<% } %>
</div>


<% if (post.refs) { %>
<div class="card_refs">
	<h4 class="card_title">references:</h4>
	<p>
		<% for (var item in post.refs) { %>
			<a class="card_ref-link" href="<%= post.refs[item].link %>" target="_blank"><%= post.refs[item].title %></a> (<%= post.refs[item].from %>)
		<% } %>
	</p>
</div>
<% } %>