<div>
	<div class="card_header">

		<% if (post.preview) { %>

			<a href="<%- url_for(post.path) %>">

				<div class="preview_img">
					<div class="preview_inner">
						<img src="<%- post.preview %>" alt="">
					</div>
				</div>

				<div class="card_icon"><i class="fas fa-shopping-cart fa-2x"></i></div>
				<div class="card_title"><h2><span><%= post.code %></span></h2></div>
			</a>
			
		<% } else { %>

			<a href="<%- url_for(post.path) %>" style="background: #000;">
				<div class="preview_img"></div>
				<div class="card_date"><span><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time></span></div>
				<div class="card_title"><h2><span><%= post.code %></span></h2></div>
			</a>
		<% } %>
	</div>

	<% if (post.tags && post.tags.length){ %>
	<div class="card_tags_group">
		<%- list_tags(post.tags, {
			show_count: false,
			class: 'card_tag',
			style: 'none',
			separator: ' '
		}) %>
	</div>
	<% } %>
</div>

<div>
	<div>
	<% if (post.summary) { %>
		<p class="card_brief"><%= post.title %></p>
	<% } %>
	</div>

	<div class="price_group">
		<div class="card_price_left">
			<% if (post.old_price) { %>
				<div class="card_old_price"><strike><strong><%= post.old_price %></strong> vnd</strike></div>
			<% } else { %>
				<div class="card_old_price">get it NOW for</div>
			<% } %>

			<% if (post.price) { %>
				<span class="price_number"><%= post.price %></span> vnd
			<% } %>
		</div>

		<div class="card_price_right">
			<a href="<%- url_for(post.path) %>"><i class="fas fa-shopping-cart fa-2x"></i></a>
		</div>
	</div>
</div>