<div class="post_full post_<%= page.type %>">

	<!-- include <%= page.type %> template post, no sidebar -->
	<div class="post_<%= page.type %>_header">

		<i class="fas fa-palette fa-5x"></i>

		<h2 class="post_<%= page.type %>_title"><%- page.title %></h2>

		<div class="post_<%= page.type %>_tags">
			<%- list_tags(page.tags, {
			    show_count: false,
			    class: 'post_tags',
			    style: 'none',
			    separator: ' '
			}) %>
		</div>
	</div>

	<%- page.content %>
	

	<% if (page.collection) { %>
		<% for (var item in page.collection) { %>
			<p><img src="<%= page.collection[item] %>" alt=""></p>
		<% } %>
	<% } %>
</div>