<div class="post_full post_<%= page.layout %>">
	<div class="post_<%= page.layout %>_header">
		<i class="fas fa-bomb fa-5x"></i>
		<h2 class="post_title"><%- page.title %></h2>
		<div class="post_slug"><%- page.slug %><br><span><time class="post_time" datetime="<%= date_xml(page.date) %>" > @<%= date(page.date) %></time></span></div>
		<hr class="section_div">
		<div class="post_collection_tags">
			<%- list_tags(page.tags, {
			    show_count: false,
			    class: 'post_tags',
			    style: 'none',
			    separator: ' '
			}) %>
		</div>

	</div>

	<div class="post_<%= page.layout %>_content">
		
		<%- page.content %>
	</div>
	
</div>