<aside>


	<%- list_tags(page.tags, {
	    show_count: false,
	    class: 'post_tags',
	    style: 'none',
	    separator: ' '
	}) %>



	
	<h2 class="prd_price"><span class="prd_price_number"><%- post.summary %></span></h2>
	<h3 class="prd_price"><span class="prd_price_number"><%- post.price %></span></h3>


	<div>
		<% if (post.overview) { %>
			<h4><i class="fas fa-eye fa-fix"></i> overview</h4>
			<ul>
			<% for (var i in post.overview) { %>
				<li><%= post.overview[i] %></li>
			<% } %>
			</ul>
		<% } %>
	</div>
	<div>
		<% if (post.shipping) { %>
			<h4><i class="fas fa-truck fa-fix"></i> shipping</h4>
			<ul>
			<% for (var i in post.shipping) { %>
				<li><%= post.shipping[i] %></li>
			<% } %>
			</ul>
		<% } %>
		
	</div>

	<div class="howto">
		<a class="howtobuy" href="#">how to buy</a>
		<a class="howtohire" href="#">how to hire</a>
	</div>

</aside>
