<div class="post_full post_<%= page.type %>">

	<div class="post_<%= page.type %>_header">

		<%- partial('selling_sidebar', {post: page, index: true}) %>
	</div>
	<div class="post_<%= page.type %>_content">
		<%- page.content %>
		<hr>
		<% if (page.images) { %>
		<div class="<%= page.type %>_more_images">
			<% for (var item in page.images) { %>
				<p><img src="<%= page.images[item] %>" alt=""></p>
			<% } %>
		</div>
		<% } %>


	</div>



</div>